.theme-form__add-themes{
    height: 250px;
    background-color:rgb(226, 226, 226);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin: 20px;
}

.theme-form__add-themes h2{
    
    padding: 10px;
    text-align: center;
}

.theme-form__color-input {
    height: 50px;
    width: 50px;
    
    
}

.theme-form__color-fields {
   margin: 20px;
   display: flex;
   justify-content: center;
   border: 0px;
   gap: 10px;
}

.theme-form__part-wrapper{
    display:flex;
    flex-direction: column;
   
}

.theme-form__name-input {
    height: 25px;
    width: 90%;
    margin: 10px;
}

.theme-form__submit-button {
    width: 50%;
    align-self: center;
    padding: 5px;
}

.theme-form__label-name{
    margin-left: 10px;
}
