.color-preview{
    height: 50px;
    width: 50px;
    margin-left: 10px;
    border-radius: 10px;
    
}

.article-preview{
    display:flex;
    margin-left: 10px;
}

.section-preview{
    
    margin-bottom: 30px;
   
}